* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 100px;
}

:root {
    --primaria: #5777a7;
    --secundaria: #364c6e;
    --escuro: #0f172a;
    --calro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

/* NAVEGAÇÃO */

.navegacao {
    background: var(--calro);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.logo {
    width: 100px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-link {
    text-decoration: none;
    color: black;
    font-weight: 520;
    position: relative;
    padding: 0.5rem 0;
}
/* SESSÃO DE NOVIDADE*/

.hero-section {
    background-image: url(img/thumb-novos.png);
    min-height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
}

.hero-content {
    max-width: 800px;
    margin-top: 700px;
}

.hero-content a {
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 8px;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-btn-primary {
    background-color: var(--escuro);
    color: var(--azul-principal);
    border: 2px solid var(--escuro);
    font-size: 1.1rem;
}

.hero-btn-primary:hover {
    background-color: var(--primaria);
    border-color: var(--primaria);
}

/* PRODUTOS NOVIDADE */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 60px 20px;
}

.card {
    cursor: pointer;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card h3 {
    color: var(--primaria);
    margin-bottom: 15px;
    text-align: center;
}

.card p {
    text-align: center;
}

/* Footer */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 60px;
}

/* ANIMAÇÃO DA BARRA DE NAVEGAÇÃO*/

.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}